{% form_theme form '@CHCookieConsent/form/cookie_consent_theme.html.twig' %}

{% block script %}
    <script src="{{ asset('bundles/chcookieconsent/js/cookie_consent.js') }}"></script>
{% endblock %}

<div class="container-fluid {% if theme == 'dark' %}bg-dark text-white{% else %}bg-light text-dark{% endif %} position-fixed w-100" style="bottom: 0; z-index: 1050;">
    {% block title %}
        <h3 class="h5 fw-bold mb-3">{{ 'ch_cookie_consent.title'|trans({}, 'CHCookieConsentBundle') }}</h3>
    {% endblock %}

    {% block intro %}
        <p class="mb-3">{{ 'ch_cookie_consent.intro'|trans({}, 'CHCookieConsentBundle') }}</p>
    {% endblock %}

    {% block read_more %}
        <a href="{% block read_more_link %}/page/confidentialite{% endblock %}" class="text-decoration-underline mb-3 d-inline-block {% if theme == 'dark' %}text-white{% else %}text-primary{% endif %}">
            {{ 'ch_cookie_consent.read_more'|trans({}, 'CHCookieConsentBundle') }}
        </a>
    {% endblock %}

    {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
        <div class="mb-3">
            {% for child in form %}
                {% if child.vars.block_prefixes[0] != 'button' %}
                    {{ form_row(child) }}
                {% endif %}
            {% endfor %}
        </div>

        <div>
            {{ form_rest(form) }}
            {% if simplified %}
                {% block toggle_details %}
                    <div class="small mt-2">
                        <span class="text-primary" style="cursor:pointer;">{{ 'ch_cookie_consent.show_details'|trans({}, 'CHCookieConsentBundle') }}</span>
                        <span class="text-primary d-none" style="cursor:pointer;">{{ 'ch_cookie_consent.hide_details'|trans({}, 'CHCookieConsentBundle') }}</span>
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    {{ form_end(form) }}
</div>
